* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    color: white;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    transition:  500ms;
}

.title:hover {
    transform: scale(5);
}

.main {
    background: purple;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}